.flex {
    display: flex;
}

.j-between {
    display: flex;
    justify-content: space-between;
}

.a-center {
    display: flex;
    align-items: center;
}

.mid {
    display: flex;
    justify-content: center;
    align-items: center;
}