@import "flex";
@import "var";

html,
body {
  font-family: BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial,
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  
}

* ::after ::before {
  box-sizing: border-box;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
}

.top-header {
  border-bottom: 1px solid rgba($color: #333, $alpha: 0.2);

  .container {
    .list-icons-left {
      ul {
        li {
          margin-right: 8px;

          &:last-child {
            margin-right: 0px;
          }

          a {
            i {
              color: #555;
              margin-right: 20px;

              &:hover {
                color: #40a944;
                transition: all 0.3s;
              }
            }
          }
        }
      }
    }

    .right-top {
      align-items: center;

      .first {
        font-size: 16px;
        cursor: pointer;
        margin: 0;
        line-height: 40px;
        color: #555a5a;
        position: relative;

        &:hover {
          .dropfirst {
            transform: scaleY(1);
          }
        }

        > i {
          font-size: 13px;
        }

        ul.dropfirst {
          cursor: default;
          background-color: white;
          position: absolute;
          right: 0;
          top: 115%;
          width: 200px;
          z-index: 3;
          border: 1px solid rgba(#333, 0.2);

          transition: all 0.5s ease-in-out;
          transform-origin: left top;
          transform: scaleY(0);

          li {
            padding: 10px 12px;
            position: relative;

            &::after {
              content: "";
              background-color: rgba(#333, 0.2);
              width: 80%;
              height: 1px;
              position: absolute;
              left: 50%;
              transform: translateX(-50%);
              bottom: 0;
            }

            &:last-child {
              &::after {
                content: none;
              }
            }

            a {
              color: #333;
              font-size: 14px;

              &:hover {
                color: $primaryColor;
              }
            }
          }
        }
      }

      .second {
        font-size: 16px;
        cursor: pointer;
        margin: 0;
        line-height: 40px;
        color: #555a5a;
        position: relative;

        &:hover {
          .dropsecond {
            transform: scaleY(1);
          }
        }

        > i {
          font-size: 13px;
        }

        ul.dropsecond {
          cursor: default;
          background-color: white;
          position: absolute;
          right: 0;
          top: 115%;
          width: 200px;
          z-index: 3;
          border: 1px solid rgba(#333, 0.2);
          transition: all 0.5s ease-in-out;
          transform-origin: left top;
          transform: scaleY(0);

          li {
            padding: 10px 12px;
            position: relative;

            &::after {
              content: "";
              background-color: rgba(#333, 0.2);
              width: 80%;
              height: 1px;
              position: absolute;
              left: 50%;
              transform: translateX(-50%);
              bottom: 0;
            }

            &:last-child {
              &::after {
                content: none;
              }
            }

            a {
              color: #333;
              font-size: 14px;

              &:hover {
                color: $primaryColor;
              }
            }
          }
        }
      }

      span {
        padding: 15px;
      }
    }
  }
}

.bottom-header {
  .container {
    padding: 20px 0;

    .logo {
      width: 120px;

      a {
        img {
          height: auto;
          max-width: 100%;
        }
      }
    }

    .search-box {
      display: flex;
      border: 1px solid #f5f5f5;
      border-radius: 25px;
      margin: 0 40px 0 120px;

      .dropdown-all {
        border-radius: 25px 0 0 25px;
        background: #f5f5f5;
        padding: 12px;
        width: 100px;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;

        i {
          margin-left: 10px;
          font-size: 12px;
        }

        &:hover {
          background-color: $secondColor;
          color: white;

          i {
            color: white;
          }
        }
      }

      input {
        padding: 12px;
        width: 300px;
      }

      button {
        cursor: pointer;
        transition: all 0.3s;
        border-radius: 0 25px 25px 0;
        background: $secondColor;
        padding: 12px 20px;
        font-size: 20px;
        color: white;

        &:hover {
          background-color: #222;
        }
      }
    }

    .sign {
      a {
        font-size: 16px;
        color: #333;
        margin: 0px 10px;

        &:hover {
          color: $secondColor;
        }
      }

      .icons-right {
        margin-left: 40px;

        li {
          position: relative;
          padding: 10px 0px;
          margin-right: 30px;

          &:hover {
            .cartDrop {
              transform: scaleY(1);
            }
          }

          i {
            font-size: 26px;
            transition: all 0.35s ease-in;

            &:hover {
              color: $secondColor;
            }
          }

          .cartDrop {
            background-color: white;
            position: absolute;
            right: 0;
            top: 100%;
            width: 350px;
            z-index: 3;
            padding: 30px 10px;
            border: 1px solid rgba(#333, 0.2);
            transition: all 0.5s ease-in-out;
            transform-origin: left top;
            transform: scaleY(0);
          }
        }

        span {
          position: absolute;
          bottom: 5px;
          left: 122%;
          display: block;
          width: 18px;
          height: 18px;
          background: #f10e0e;
          border-radius: 100%;
          font-size: 0.8571em;
          line-height: 16px;
          text-align: center;
          color: #fff;
        }
      }
    }
  }
}

.menu-header {
  nav {
    background-color: white;

    .container {
      display: flex;
      align-items: center;

      .shop-department {
        position: relative;

        .shop {
          width: 255px;
          height: 50px;
          display: flex;
          align-items: center;
          justify-content: center;
          background-color: $secondColor;

          a {
            display: flex;
            align-items: center;
            justify-content: center;
            color: white;
            font-size: 14px;
            font-weight: bold;
            width: 100%;
            cursor: pointer;

            i.bars {
              padding: 12px;
            }

            i.arrow-down {
              padding: 30px;
              font-size: 10px;
            }
          }
        }

        .categories {
          z-index: 3;
          display: none;
          background-color: white;
          position: absolute;
          top: 100%;
          width: 100%;
          left: 0;
          border-radius: 4px;
          box-shadow: 0px 0px 5px -2px rgba(#333, 0.4);
          padding: 10px 20px;

          > ul {
            > li {
              display: flex;
              align-items: center;
              position: relative;

              &:last-child {
                a::after {
                  content: none;
                }
              }

              &:hover {
                .sub-dropdown {
                  display: block;
                }

                .sub-dropdown.healthySub {
                  display: block;
                }

                .sub-dropdown.marowsub {
                  display: block;
                }

                .sub-dropdown.alliumsub {
                  display: block;
                }

                .sub-dropdown.vitaminsub {
                  display: block;
                }
              }

              > a {
                font-size: 16px;
                font-weight: 400;
                display: block;
                width: 189px;
                height: 44.2;
                padding: 10px 15px;
                color: #222;
                position: relative;
                display: flex;
                align-items: center;
                width: 100%;

                &:hover {
                  color: $secondColor;
                }

                i {
                  margin-right: 5px;
                  font-size: 16px;
                }

                i.arrow-right {
                  margin-left: auto;
                  font-size: 12px;
                }
              }

              ul.sub-dropdown {
                display: none;
                background-color: white;
                position: absolute;
                left: 100%;
                transform: translateX(-20px);
                top: 0;
                width: 200px;
                box-shadow: 0px 2px 6px -1px rgba(#333, 0.2);
                padding: 10px 0px;

                li {
                  a {
                    margin-left: 5px;
                    display: inline-block;
                    color: #222;
                    font-size: 17px;
                    position: relative;

                    &:hover {
                      color: $secondColor;
                    }
                  }
                }
              }

              ul.sub-dropdown.healthySub {
                display: none;
                width: 450px;
                padding: 30px;

                .healthy {
                  display: flex;
                  flex-wrap: wrap;

                  a {
                    width: 189px;
                    height: 44.2px;
                  }
                }
              }

              ul.sub-dropdown.marowsub {
                display: none;
                width: 700px;
                padding: 30px;

                .marow {
                  display: flex;
                  flex-wrap: wrap;

                  a {
                    width: 189px;
                    height: 44.2px;
                  }
                }
              }

              ul.sub-dropdown.alliumsub {
                display: none;
                width: 700px;
                padding: 30px;

                .allium {
                  display: flex;
                  flex-wrap: wrap;

                  a {
                    width: 189px;
                    height: 44.2px;
                  }
                }
              }

              ul.sub-dropdown.vitaminsub {
                display: none;
                width: 450px;
                padding: 30px;

                .vitamin {
                  display: flex;
                  flex-wrap: wrap;

                  a {
                    width: 189px;
                    height: 44.2px;
                  }
                }
              }

              ul.sub-dropdown.chickpea {
                padding: 0px 15px;

                li {
                  &:last-child {
                    a::after {
                      content: none;
                    }
                  }

                  a {
                    padding: 12px 0px;

                    &::after {
                      content: "";
                      background-color: rgba(#333, 0.2);
                      width: 90%;
                      height: 1px;
                      position: absolute;
                      left: 50%;
                      transform: translateX(-50%);
                      bottom: 0;
                    }
                  }
                }
              }
            }
          }
        }
      }

      .right-list-menu {
        margin-left: 30px;
        z-index: 3;

        > ul {
          display: flex;
          position: relative;

          > li {
            margin-right: 20px;

            &:hover {
              .dropdown.home {
                transform: perspective(600px) rotateX(0deg);
              }

              .dropdown.shop {
                transform: perspective(600px) rotateX(0deg);
              }

              .dropdown.blog {
                transform: perspective(600px) rotateX(0deg);
              }

              .dropdown.page {
                transform: perspective(600px) rotateX(0deg);
              }
            }

            ul.dropdown {
              display: flex;
              justify-content: space-around;
              background-color: white;
              box-shadow: 0px 2px 6px -1px rgba(#333, 0.2);
              position: absolute;
              left: 0;
              right: auto;
              top: 160%;
              max-width: 500px;
              padding: 35px 35px 15px;
              transform-origin: top center;
              transition: 0.4s;
              transform: rotateX(-90deg);

              li {
                &:first-child {
                  display: block;
                  padding-bottom: 12px;
                  color: #333;
                  font-size: 16px;
                  font-weight: bold;
                }
              }
            }

            ul.dropdown.home {
              li {
                a {
                  display: block;
                  width: 204px;
                  height: 30.8px;
                  margin-left: 5px;
                  color: #777;
                  font-size: 16px;
                  font-weight: normal;
                  padding: 7px 0px;

                  &:hover {
                    color: $secondColor;
                  }
                }
              }
            }

            ul.dropdown.shop {
              li {
                a {
                  display: block;
                  width: 142.66px;
                  height: 30.8px;
                  color: #777;
                  font-size: 16px;
                  font-weight: normal;
                  padding: 7px 0px;

                  &:hover {
                    color: $secondColor;
                  }
                }
              }
            }

            ul.dropdown.blog {
              li {
                a {
                  display: block;
                  width: 142.66px;
                  height: 30.8px;
                  color: #777;
                  font-size: 16px;
                  font-weight: normal;
                  padding: 7px 0px;

                  &:hover {
                    color: $secondColor;
                  }
                }
              }
            }

            ul.dropdown.page {
              display: block;
              left: 60%;

              li {
                &:first-child {
                  padding-bottom: 0px;
                }

                a {
                  display: block;
                  width: 220px;
                  height: 39.2px;
                  color: #646464;
                  font-size: 17px;
                  font-weight: normal;

                  &:hover {
                    color: $secondColor;
                  }
                }
              }
            }
          }

          a {
            color: black;
            font-size: 14px;
            font-weight: bold;

            &.active {
              color: $secondColor;
            }
          }
        }
      }
    }
  }
}

.slider {
  .container {
    .item {
      display: flex;
      align-items: center;
      justify-content: space-between;
      transform: translateX(287px);
      position: relative;
      width: 800px;
      height: 520px;
      overflow: hidden;

      .background {
        position: absolute;
        width: 100%;
        height: 100%;
        right: 0;
      
        img {
          width: 100%;
          height: 100%;
        }
      }

      .info {
        width: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;

        .zoomHide {
          font-size: 32px;
          padding: 20px;
          color: #222;
        }

        p {
          font-size: 20px;
          padding: 20px;
          color: #555;
        }

        button {
          color: white;
          font-size: 18px;
          background-color: orange;
          padding: 10px 10px;
          border-radius: 20px;
        }
      }
    }

    button.owl-dot.active span {
      background-color: orange !important;
    }

    button.owl-dot:hover span {
      background-color: orange !important;
    }

    .owl-dots {
      display: flex;
      justify-content: flex-start;
      position: absolute;
      transform: translateX(600px);
      bottom: 10px;
    }
   

    @keyframes zoom {
      to {
        transform: scale(1.2);
      }
    }

    @keyframes zoomHide {
      0% {
        opacity: 0;
        transform: scale(1);
      }

      40% {
        opacity: 1;
        transform: scale(1.2);
      }

      50% {
        opacity: 1;
        transform: scale(1.2);
      }

      85% {
        opacity: 1;
        transform: scale(1.2);
      }

      90% {
        opacity: 0;
        transform: scale(1.2);
      }

      100% {
        opacity: 0;
        transform: scale(0);
      }
    }

    @keyframes backgroundImage {
      from {
        transform: scale(0);
      }

      to {
        transform: scale(1);
      }
    }

    .owl-item.active {
      .item {
        .background {
          animation: backgroundImage 2s forwards;
        }

        .info {
          .zoomHide {
            animation-delay: 2s;
            animation: zoomHide 6s forwards;
          }

          p {
            animation: zoom 1s forwards;
            animation-delay: 3s;
          }

          button {
            animation-delay: 4s;
            animation: zoom 1s forwards;
          }
        }
      }
    }
  }
}

.contact {
  .container {
    margin-top: 50px;
    display: flex;
    justify-content: space-around;

    div {
      width: 255px;
      height: 162.2px;
      padding-left: 15px;
      padding-right: 15px;
      display: flex;
      flex-direction: column;
      align-items: center;

      i {
        font-size: 30px;
        padding: 0px 0px 20px;
        color: orange;
      }

      h4 {
        color: #222;
        padding: 0px 0px 20px;
      }

      h6 {
        font-size: 14px;
        font-weight: normal;
        color: #555;
        text-align: center;
      }
    }
  }
}

.menu {
  margin: 15px 0px;
  .container {
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
    .left {
      h3 {
        font-size: 24px;
      }
    }

    .right {
      nav {
        ul {
          display: flex;
          justify-content: flex-end;
          // padding: 10px 15px;

          li {
            padding: 10px 15px;

            .active {
              color: orange;
            }
            a {
              color: #222;
              font-weight: 400;
              &:hover {
                transition: all 0.4s;
                color: orange;
              }
            }
          }
        }
      }
    }
  }
}

.sliderNewProduct {
  position: relative;
  margin-bottom: 100px;

  .item {
    width: 206px;

    &:hover {
      .TabBar {
        z-index: 1;
        opacity: 1;
        display: flex;
        transform: translateY(-40px);
      }
    }

    img {
      width: 100%;
    }

    .info {
      padding: 20px 0px 0px;
      display: flex;
      flex-direction: column;
      align-items: center;

      .title {
        padding: 0px 0px 15px;
        a {
          color: #222;
        }
      }

      .category {
        padding: 0px 0px 15px;
        a {
          color: #6666;
        }
      }

      .span {
        .price {
          color: #fc8a35;
        }

        .oldPrice {
          color: #6666;
          text-decoration: line-through;
        }
      }
    }

    .TabBar {
      opacity: 0;
      position: absolute;
      width: 80%;
      bottom: 28%;
      left: 15px;
      padding: 5px;
      border-radius: 20px;
      background-color: white;
      border: 1px solid rgb(228, 225, 225);
      display: flex;
      justify-content: space-around;
      box-shadow: 0px 0px 5px -2px rgba(#333, 0.4);
      transition: all 0.4s;
      z-index: 0;
      i {
        padding: 5px;
        background-color: white;
        border-radius: 50%;

        &:hover {
          background-color: #fc8a35;
        }
      }
    }

    .sale {
      position: absolute;
      top: 10px;
      left: 10px;
      padding: 8px 5px;
      font-size: 14px;
      background-color: #fc8a35;
      border-radius: 50%;
      color: white;
    }
  }

  .owl-prev {
    width: 50px;
    height: 50px;
    position: absolute;
    top: 30%;
    left: -55px;
    display: block !important;
    border: 0px solid black;
    border-radius: 50% !important;

    &:hover {
      i {
        color: white !important;
      }

      background-color: #fc8a35 !important;
    }
  }

  .owl-next {
    width: 50px;
    height: 50px;
    position: absolute;
    top: 30%;
    right: -40px;
    display: block !important;
    border: 0px solid black;

    &:hover {
      i {
        color: white !important;
      }

      background-color: #fc8a35 !important;
    }

    border-radius: 50% !important;
  }

  .owl-prev i,
  .owl-next i {
   
    font-size: 24px !important;
    color: #666;
  }
}

.banner {
  .container {
    display: flex;
    justify-content: space-between;

    .item {
      position: relative;
      width: 540px;
      height: 190px;
      overflow: hidden;
      &:hover {
        .background {
        
          img {
            transform: scale(1.05);
          }
         
        }
      }
      .background {
        
        img {
          width: 100%;
          height: 100%;
          transition:all 1s ;
        }
      }
      .left {
        position: absolute;
        top: 70px;
        left: 50px;

        h5 {
          font-size: 24px;
          color: #464646;
        }
        p {
          padding: 15px 0px 0px;
          a {
            font-size: 14px;
            color: #666;

            i {
              color: #fc8a35;
            }
          }
        }
      }
    }
  }
}

.DealsOfTheWeeks {
  background-color: #f4f4f4;
  margin-top: 100px;
  padding-top: 70px;
  .container {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-gap: 30px;

    .inner {
      .wrapper {
        background-color: white;
        border-radius: 0 0 7px 7px;
        h3 {
          font-size: 1.7143em;
          color: #fff;
          background: #fc8a35;
          padding: 5px 0;
          border-radius: 7px 7px 0 0;
          text-align: center;
        }
        .item {
          position: relative;
          padding: 20px;
          &:hover {
            .TabBar {
              opacity: 1;
              display: flex;            
              transform: translateY(-70px);
            }
          }

          img {
            width: 100%;
          }

          .info {
            padding: 20px 0px 0px;
            display: flex;
            flex-direction: column;
            align-items: center;

            .title {
              a {
                color: #222;
              }
              padding: 0px 0px 15px;
            }

            .category {
              a {
                color: #6666;
              }
              padding: 0px 0px 15px;
            }

            .span {
              .price {
                color: #fc8a35;
              }

              .oldPrice {
                color: #6666;
                text-decoration: line-through;
              }
            }
          }

          .TabBar {
            opacity: 0;
            position: absolute;
            width: 50%;
            top: 50%;
            left: 25%;
            padding: 5px;
            border-radius: 20px;
            transition: all 0.4s;
            background-color: white;
            border: 1px solid rgb(228, 225, 225);
            display: flex;
            justify-content: space-around;
            box-shadow: 0px 0px 5px -2px rgba(#333, 0.4);
            i {
              padding: 5px;
              background-color: white;
              border-radius: 50%;

              &:hover {
                background-color: #fc8a35;
              }
            }
          }

          .sale {
            position: absolute;
            top: 30px;
            left: 30px;
            padding: 8px 5px;
            font-size: 14px;
            background-color: #fc8a35;
            border-radius: 50%;
            color: white;
          }
          .countdown {
            padding-top: 20px;
            display: flex;
            justify-content: center;
            .time {
              margin-left: 20px;
              padding: 10px;
              border: 1px solid #666;
              display: flex;
              flex-direction: column;
              align-items: center;
              span {
                &:first-child {
                  font-weight: bold;
                  font-size: 14px;
                  color: rgb(83, 82, 82);
                }
              }
              .label {
                font-size: 10px;
                color: rgba(#333, 0.4);
              }
            }
          }

          button {
            margin: 25px;
            padding: 15px 20px;
            border-radius: 20px;
            background-color: #fc8a35;
            transform: translateX(80px);
            &:hover{
              background-color: #333;
              color: white;
            }
          }
        }
        .owl-carousel{
          width: 370px !important;
        }
      }
      .attach {
        margin-top: 35px;
        position: relative;
        width: 380px;
        height: 450px;
        overflow: hidden;
        border-radius: 7px;
        &:hover {
          .background {
            img {
              transform: scale(1.02);
            }
          }
        }
        .background {
          img {
            width: 100%;
            height: 450px;
            transition: 0.3s ease-out 0s;
          }
        }

        .left {
          position: absolute;
          top: 30%;
          left: 30px;
          h5 {
            font-size: 16px;
            color: #464646;
          }
          h4 {
            font-size: 24px;
          }
          p {
            padding: 35px 0px 0px;
            a {
              font-size: 14px;
              color: #666;

              i {
                color: #fc8a35;
              }
            }
          }
        }
      }
    }

    .sliderSellers {
      margin-bottom: 100px;
      width: 690px;
     
      .bestSellers {
        padding: 20px 20px 1px;
        background-color: white;   
        border-radius: 7px;
        position: relative;

        h3 {
          font-size: 1.7143em;
          color: #222;
          padding: 5px 0;
        }
        .flex {
          display: flex;
          flex-direction: column;
          flex-wrap: wrap;
          .wrap {
            .item {
              width: 330px;
              height: 112.2px;
              display: flex;
              margin-bottom: 20px;
              img {
                width: 112.2px;
                height: 112.2px;
              }
              .info {
                padding: 15px 0px 0px 20px;
                display: flex;
                flex-direction: column;
                align-items: flex-start;

                .title {
                  a {
                    color: #222;
                  }
                  padding: 0px 0px 15px;
                }

                .category {
                  a {
                    color: #6666;
                  }
                  padding: 0px 0px 15px;
                }

                .span {
                  .price {
                    font-weight: 400;
                    color: #fc8a35;
                  }

                  .oldPrice {
                    color: #6666;
                    text-decoration: line-through;
                  }
                }
              }
            }
          }
        }

        .owl-carousel {
          width: 650px !important;
        }

        .owl-prev {
          width: 20px;
          height: 20px;
          position: absolute;
          top: -40px;
          right: 20px;
          display: block !important;
          border: 0px solid black;
          border-radius: 50% !important;

          &:hover {
            i {
              color: white !important;
            }

            background-color: #fc8a35 !important;
          }
        }

        .owl-next {
          width: 20px;
          height: 20px;
          position: absolute;
          top: -40px;
          right: 0px;
          display: block !important;
          border: 0px solid black;

          &:hover {
            i {
              color: white !important;
            }

            background-color: #fc8a35 !important;
          }

          border-radius: 50% !important;
        }

        .owl-prev i,
        .owl-next i {
          font-size: 18px !important;
          color: #666;
        }
      }

      .ourProduct {
        padding: 20px 20px 1px;
        margin-top: 35px;
        position: relative;
        background-color: white;
        border-radius: 7px;
        h3 {
          font-size: 1.7143em;
          color: #222;
          padding: 5px 0;
        }

        .flexproduct {
          .wrapProduct {
            .item {
              position: relative;
              margin-right: 20px;
              &:hover {
                .TabBar {
                  opacity: 1;
                  display: flex;
                  transform: translateY(-40px);
                }
              }

              img {
                width: 100%;
              }

              .info {
                padding: 20px 0px 20px;
                display: flex;
                flex-direction: column;
                align-items: center;

                .title {
                  padding: 0px 0px 15px;
                  a {
                    color: #222;
                  }
                }

                .category {
                  padding: 0px 0px 15px;
                  a {
                    color: #6666;
                  }
                }

                .span {
                  .price {
                    color: #fc8a35;
                  }

                  .oldPrice {
                    color: #6666;
                    text-decoration: line-through;
                  }
                }
              }

              .TabBar {
                opacity: 0;
                position: absolute;
                width: 70%;
                top: 50%;
                left: 15%;
                padding: 5px;
                border-radius: 20px;
                background-color: white;
                border: 1px solid rgb(228, 225, 225);
                display: flex;
                justify-content: space-around;
                box-shadow: 0px 0px 5px -2px rgba(#333, 0.4);
                transition: all 0.4s;

                i {
                  padding: 5px;
                  background-color: white;
                  border-radius: 50%;

                  &:hover {
                    background-color: #fc8a35;
                  }
                }
              }

              .sale {
                position: absolute;
                top: 10px;
                left: 10px;
                padding: 8px 5px;
                font-size: 14px;
                background-color: #fc8a35;
                border-radius: 50%;
                color: white;
              }
            }
          }
        }

        .owl-prev {
          width: 20px;
          height: 20px;
          position: absolute;
          top: -40px;
          right: 20px;
          display: block !important;
          border: 0px solid black;
          border-radius: 50% !important;

          &:hover {
            i {
              color: white !important;
            }

            background-color: #fc8a35 !important;
          }
        }

        .owl-next {
          width: 20px;
          height: 20px;
          position: absolute;
          top: -40px;
          right: 0px;
          display: block !important;
          border: 0px solid black;

          &:hover {
            i {
              color: white !important;
            }

            background-color: #fc8a35 !important;
          }

          border-radius: 50% !important;
        }

        .owl-prev i,
        .owl-next i {
         
          font-size: 18px !important;
          color: #666;
        }
      }
    }
  }
}

.fromOurBlog{
  .container{
    h3 {
      font-size: 1.7143em;
      color: #222;
      margin-top: 70px;
      margin-bottom: 50px;
    
    }
    .item{
      margin-right: 30px;
      width: 350px;
      height: 396.28px;
     margin-bottom: 50px;
     
      &:hover{
        .background{
         
          img{
           
            transform: scale(1.02) ;
          }
        }
          .post-date{
            background-color: #fc8a35;
          }
        
      
      }
      .background{
        overflow: hidden;  
        img{
          transition: all 1s ;
          
        }
      }
      
      .info{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 22px 35px 0px;
        margin: 0px 0px 25px;
        .category{
          padding: 10px;
          a{
            color: #fc8a35;
            
            &:hover{
              color: #222;
            }
          }
          span{
            color: #fc8a35;
          }
        }
        .title{
          text-align: center;
          color: #222;
          font-size: 20px;
       
          &:hover{
            color: #fc8a35;
          }
        }      
      }
      .post-date{
        width: 100%;
        height: 30px;
        background-color: #222;
        text-align: center;
        color: white;      
      }
    }
    .owl-prev {
      width: 50px;
      height: 50px;
      position: absolute;
      top: 30%;
      left: -55px;
      display: block !important;
      border: 0px solid black;
      border-radius: 50% !important;
  
      &:hover {
        i {
          color: white !important;
        }
  
        background-color: #fc8a35 !important;
      }
    }
  
    .owl-next {
      width: 50px;
      height: 50px;
      position: absolute;
      top: 30%;
      right: -40px;
      display: block !important;
      border: 0px solid black;
  
      &:hover {
        i {
          color: white !important;
        }
  
        background-color: #fc8a35 !important;
      }
  
      border-radius: 50% !important;
    }
  
    .owl-prev i,
    .owl-next i {
      //transform: scale(1, 2);
      font-size: 24px !important;
      color: #666;
    }
  }
}

.sale{
  .container{
    height: 240px;
    width:1110px;
    margin-bottom: 35px;
    position: relative;
    overflow: hidden;
    &:hover{
      .background{
        img{
          transform: scale(1.02);
        }
      }
    }
    .background{
      img{
        transition: all 1s ;
      }
    }
    .info{
      position: absolute;
      top:50px;
      left:50px;
      h6{
        font-size: 20px;
        margin-bottom: 20px;
        color: #fc8a35;
      }
      h4{
        font-size: 50px;
        margin-bottom: 10px;
      }
      h5{
        font-size: 2em;
        line-height: 1;
        font-weight: 300;
      }
    }
  }
}

.productModel{
  .container{
    display: flex;
    .group{
      h3 {
        font-size:20px;
        color: #222;
        padding: 25px 0;
      }
      .wrap{
        .item {
          width: 350px;
          height: 112.2px;
          display: flex;
          margin-bottom: 20px;
          img {
            width: 112.2px;
            height: 112.2px;
          }
          .info {
            padding: 15px 0px 0px 20px;
            display: flex;
            flex-direction: column;
            align-items: flex-start;

            .title {
              a {
                color: #222;
              }
              padding: 0px 0px 15px;
            }

            .category {
              a {
                color: #6666;
              }
              padding: 0px 0px 15px;
            }

            .span {
              .price {
                font-weight: 400;
                color: #fc8a35;
              }

              .oldPrice {
                color: #6666;
                text-decoration: line-through;
              }
            }
          }
        }
      }
    }
    .owl-carousel {
      width: 350px !important;
      height: 451px !important;
    }
  }
}

.branch{
  .container{
    nav{
      display: flex;
      justify-content: space-around;
      margin: 0px 0px 35px;
      padding: 35px 30px;
      border: 1px solid rgb(231, 231, 231);
      border-radius: 5px;
      a{
        transition: all 0.3s ease-in-out ;

        img{
          display: inline-block;
          width: auto;

        }
        &:hover{
          transition: all 0.4s;
          transform: scale(1.1);
        }
      }
    }
    
  }
  
}

.footer{
  background-color: #222;
  .container{
    .information{
      display:grid;
      grid-template-columns: 2fr 1fr 1fr 2fr;
      padding-top: 70px;
      padding-bottom: 30px;
     
      .item1{
        padding: 0px 15px;
        img{
          width: 100px;
          margin-bottom: 25px;
        }
        p{
         color: rgba(255,255,255,.7);
        margin-bottom: 25px;
        }
        ul{
          li{
           margin-bottom: 10px;
            color: #FFF;
          }
        }
      }
    
      h3{
        margin-bottom: 20px;
        color: #FFF;
      }
      nav{
        display: flex;
        flex-direction: column;
        a{
          color:rgba(255,255,255,.7) ;
          margin-bottom: 10px;
        }
      }
      .item{
        padding: 0px 15px;
      }
      .item4{
        padding: 0px 15px;
        p{
          color: rgba(255,255,255,.7);
        margin-bottom: 25px;
        }
        form{
          display: flex;
        
          input{
            padding: 15px 70px 15px 20px;  
            border-top-left-radius: 20px; 
            border-bottom-left-radius: 20px;  

          }
          button{
            padding: 15px 20px;
            background-color: #fc8a35;
            border-top-right-radius: 20px;
            border-bottom-right-radius: 20px;

          }
        }
      }
    }
   
  }
}
.about{
  border-top: 1px solid #3b3b3b ;
  background-color: #222;
  .container{   
    display:flex;
    justify-content: space-between;
    padding: 50px 0px;
    p{
      color: rgba(255,255,255,.7);
     
    }
  }
  
}

@keyframes fadeIn{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
.headerFix{
  box-shadow: 0 0px 1px rgba(#333, 0.4);
  &.fixed {
        position: fixed;
        z-index: 10;
        top: 0;
        left: 0;
        width: 100%;
        animation: fadeIn 0.4s forwards ;
      }
  .container{   
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    
    .right-list-menu {
      display: flex;
      justify-content: space-between;
      z-index: 3;
      img{
        width: 100px;
        height: 23.73px;
        margin-right: 30px;
      }
      > ul {
        display: flex;
        position: relative;
  
        > li {
          margin-right: 30px;
          
          &:hover {
            .dropdown.home {
              transform: perspective(600px) rotateX(0deg);
            }
  
            .dropdown.shop {
              transform: perspective(600px) rotateX(0deg);
            }
  
            .dropdown.blog {
              transform: perspective(600px) rotateX(0deg);
            }
  
            .dropdown.page {
              transform: perspective(600px) rotateX(0deg);
            }
          }
  
          ul.dropdown {
            display: flex;
            justify-content: space-around;
            background-color: white;
            box-shadow: 0px 2px 6px -1px rgba(#333, 0.2);
            position: absolute;
            left: 0;
            right: auto;
            top: 142%;
          
            max-width: 500px;
            padding: 35px 35px 15px;
            transform-origin: top center;
            transition: 0.4s;
            transform: rotateX(-90deg);
  
            li {
              &:first-child {
                display: block;
                padding-bottom: 12px;
                color: #333;
                font-size: 16px;
                font-weight: bold;
              }
            }
          }
  
          ul.dropdown.home {
            li {
              a {
                display: block;
                width: 204px;
                height: 30.8px;
                margin-left: 5px;
                color: #777;
                font-size: 16px;
                font-weight: normal;
                padding: 7px 0px;
  
                &:hover {
                  color: $secondColor;
                }
              }
            }
          }
  
          ul.dropdown.shop {
            li {
              a {
                display: block;
                width: 142.66px;
                height: 30.8px;
                color: #777;
                font-size: 16px;
                font-weight: normal;
                padding: 7px 0px;
  
                &:hover {
                  color: $secondColor;
                }
              }
            }
          }
  
          ul.dropdown.blog {
            li {
              a {
                display: block;
                width: 142.66px;
                height: 30.8px;
                color: #777;
                font-size: 16px;
                font-weight: normal;
                padding: 7px 0px;
  
                &:hover {
                  color: $secondColor;
                }
              }
            }
          }
  
          ul.dropdown.page {
            display: block;
            left: 60%;
  
            li {
              &:first-child {
                padding-bottom: 0px;
              }
  
              a {
                display: block;
                width: 170px;
                height: 39.2px;
                color: #646464;
                font-size: 17px;
                font-weight: normal;
  
                &:hover {
                  color: $secondColor;
                }
              }
            }
          }
        }
  
        a {
          color: black;
          font-size: 16px;
          font-weight: bold;
  
          &.active {
            color: $secondColor;
          }
        }
      }
    }
  
    .icons-right {
      margin-left: 40px;
      
      li {
        position: relative;
        padding: 10px 0px;
        margin-right: 30px;
  
        &:hover {
          .cartDrop {
            transform: scaleY(1);
          }
        }
  
        i {
          font-size: 26px;
          transition: all 0.35s ease-in;
  
          &:hover {
            color: $secondColor;
          }
        }
  
        .cartDrop {
          background-color: white;
          position: absolute;
          right: 0;
          top: 100%;
          width: 350px;
          z-index: 3;
          padding: 30px 10px;
          border: 1px solid rgba(#333, 0.2);
          transition: all 0.5s ease-in-out;
          transform-origin: left top;
          transform: scaleY(0);
        }
      }
  
      span {
        position: absolute;
        bottom: 5px;
        left: 122%;
        display: block;
        width: 18px;
        height: 18px;
        background: #f10e0e;
        border-radius: 100%;
        font-size: 0.8571em;
        line-height: 16px;
        text-align: center;
        color: #fff;
      }
    }
  }
 
}

.toTop {
    position: fixed;
    bottom: 20px;
    right: 20px;
    transform: translateY(100px);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    border: 2px solid white;
    border-radius: 50%;
    background-color: black;
    cursor: pointer;
    transition: all 0.4s;
    i {
      color: white;
    }
    &:hover {
      transition: all 1s;
      background-color: orange;
      border-color: #fc8a35;
    }
    &.fixed {
      transform: translateY(0px);
    }
  }